<div class="footer text-center" style="background: #000;">
	<div style="background-color: #000; padding: 5px;">
		<p class="he5" style="margin-bottom: 0px; color: #fff;">
			<span class="hidden-xs" style="float: left;">Coffee-Shop Mgmt v-1_0_0</span>
			<span class="visible-xs text-center">Coffee-Shop Mgmt v-1_0_0</span>
			<span class="hidden-xs" style="float: right;">&copy; AlkenArts 2018 All Rights Reserved</span>
			<span class="visible-xs text-center">&copy; AlkenArts 2018 All Rights Reserved</span>
		</p>
	</div>
</div>
